doctype html 
html
  head
    title DANCE SCHOOL
    block scripts
    block style   
  body
    nav#navbar  
       
        
             ul 
        
                li #[a(href="/") HOME]
                li #[a(href="/") ABOUT]
                 li #[a(href="/") SEVICES]
                   li #[a(href="/") ACADEMY INFO]
                li #[a(href="/contact") CONTACT US]
    block content
    footer#footer 
        | Copyright © 2020 DanceAcademy.
  